<div id="calendar">
  <h2 id="month">
    <%= link_to "<", :date => (@date.beginning_of_month-1).strftime("%Y-%m-%d") %>
    <%=h @date.strftime("%B %Y") %>
    <%= link_to ">", :date => (@date.end_of_month+1).strftime("%Y-%m-%d") %>
  </h2>
  <% calendar_for @events, :year => @date.year, :month => @date.month, :first_day_of_week => 1 do |calendar| %>
  	<%= calendar.head('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday') %>
    <% calendar.day(:day_method => :date) do |date, events| %>
      <%= link_to date.day, day_url(date) %>
      <ul>
        <% for event in events.take(5) %>
          <li><%= link_to h(event.title), event %></li>
        <% end %>
        <% if events.size > 5 %>
            <br/>
            <li><i><%= link_to "more for this day...", day_url(date)%></i></li>
          <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

<table>
<tr><th colspan="3">Список всех событий на этот месяц (для сверки)</th></tr>
<% @events.each do |i| %>
	<tr>
		<td><%= i.title %></td>
		<td><%= i.date %></td>
		<td><% i.repeats.each do |i| %>
					<%= i.repeating_type %>|<%= i.repeating_day %>||
				<% end %>
		</td>
	</tr>
<% end %>
</table>