<div id="weekly_plan">
	<% @dates.each do |day| %>
		<% if day.wday == 0 %>
			<div class="weekday last">
		<% else %>
			<div class="weekday">
		<% end %>
		<h3 class="header">
			<span class="title"><%= Event.wday_to_s(day.wday) %></span> 
			(<%= link_to day.strftime("%d.%m.%Y"), day_url(day) %>)
		</h3>
		<ul>
		<% Event.find_by_wday(@events, day).each do |event| %>
			<li><%= event.date.strftime("%H:%M") %> | <%= event.title %></li>
		<% end %>
		</ul>
		</div>
	<% end %>
	</ul>
</div>
<div class="clear"/>


<table>
<tr><th colspan="3">Список всех событий на эту неделю (для сверки)</th></tr>
<% @events.each do |i| %>
	<tr>
		<td><%= i.title %></td>
		<td><%= i.date %></td>
		<td><% i.repeats.each do |i| %>
					<%= i.repeating_type %>|<%= i.repeating_day %>||
				<% end %>
		</td>
	</tr>
<% end %>
</table>